@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap");

:root {
  --red: #e51a1e;
  --gray: #b8b8b8;
  --white: #ffffff;
  --black: #2e2e2e;
  --green: #28b652;
  --yellow: #ede327;
  --background: #f7f7f7;
  --super-gray: #dedede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: var(--background);
}
